.jobs-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.jobs-lists-container {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.jobs-portal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 90%;
}

@media screen and (min-width: 767px) {
  .jobs-portal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.jobs-list-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .jobs-list-app-container {
    width: 70vw;
    margin-top: 16px;
  }
}

.line {
  border: 1px solid #475569;
  width: 100%;
  margin-top: 12px;
}

.search-container {
  background-color: #202020;
  border: 1px solid #475569;
  width: 100%;
  border-radius: 2px;
  margin-top: 13px;
}

@media screen and (min-width: 767px) {
  .search-container {
    display: none;
  }
}

.search-ccontainer {
  background-color: #202020;
  border: 1px solid #475569;

  border-radius: 2px;
  margin-top: 13px;
  width: 300px;
  margin-bottom: 15px;
  align-self: flex-start;
}

@media screen and (max-width: 767px) {
  .search-ccontainer {
    display: none;
  }
}

.search-input {
  background-color: #000000;
  border: none;
  outline: none;
  width: 85%;
  height: 25px;
  padding-left: 13px;
  color: #7e858e;
  font-family: Roboto;
  font-size: 13px;
}
.search-icon {
  color: #ffffff;
  margin-left: 13px;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .search-icon {
    margin-left: 5px;
  }
}

.search-icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding-left: 12px;
}

.profile-options-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.types-of-employment-container {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.employment-heading {
  font-family: Roboto;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
}

.salary-list-container {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.salary-range-heading {
  font-family: Roboto;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
}

.employ-list-item {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-top: 4px;
}

.employ-label {
  font-family: Roboto;
  font-size: 12px;
  color: #ffffff;
  margin-left: 5px;
}

.salary-list-item {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-top: 4px;
}

.salary-label {
  font-family: Roboto;
  font-size: 12px;
  color: #ffffff;
  margin-left: 5px;
  margin-top: 5px;
}

.search-inputs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .search-inputs-container {
    width: 30%;
    margin-right: 15px;
    margin-top: 10px;
  }
}

.no-jobs-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.jobs-failure-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (min-width: 767px) {
  .jobs-failure-container {
    margin-top: 45px;
  }
}

@media screen and (min-width: 767px) {
  .no-jobs-container {
    margin-top: 45px;
  }
}

.no-jobs-image {
  height: 100px;
}

.job-failure-image {
  height: 100px;
}

@media screen and (min-width: 767px) {
  .job-failure-image {
    height: 250px;
  }
}

@media screen and (min-width: 767px) {
  .no-jobs-image {
    height: 250px;
  }
}

.no-jobs-heading {
  font-family: Roboto;
  font-size: 12px;
  color: #f8fafc;
  font-weight: 500;
  text-align: center;
  margin-top: 12px;
}

.job-failure-heading {
  font-family: Roboto;
  font-size: 12px;
  color: #f8fafc;
  font-weight: 500;
  text-align: center;
  margin-top: 12px;
}

@media screen and (min-width: 767px) {
  .job-failure-heading {
    font-size: 20px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 767px) {
  .no-jobs-heading {
    font-size: 20px;
    margin-top: 16px;
  }
}

.no-jobs-description {
  font-family: Roboto;
  font-size: 10px;
  color: #f8fafc;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .no-jobs-description {
    font-size: 12px;
  }
}

.job-failure-description {
  font-family: Roboto;
  font-size: 10px;
  color: #f8fafc;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .job-failure-description {
    font-size: 12px;
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
