.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}

@media screen and (min-width: 767px) {
  .header-container {
    height: 10vh;
  }
}

.header-nav-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-items-conntainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

@media screen and (min-width: 767px) {
  .nav-items-conntainer {
    display: none;
  }
}

.website-image {
  height: 22px;
}

@media screen and (min-width: 767px) {
  .website-image {
    height: 30px;
  }
}

.nav-icon {
  color: #ffffff;
  margin-left: 17px;
}

.header-items-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-items-container {
    display: none;
  }
}

.item {
  font-family: Roboto;
  font-size: 15px;
  margin-right: 20px;
}

.logout-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4f46e5;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  border-radius: 7px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .logout-button {
    display: none;
  }
}

.link-item {
  text-decoration: none;
  color: #f8fafc;
}

.logout-icon {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}
